* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 3px solid black;
    width: 500px;
    height: 500px;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

.controls,
select,
option {
    font-size: 25px;
}